<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>About me</title>
</head>
<body>
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo=" crossorigin="anonymous"></script>
<div class="container">
<h3> Made by Ahyun </h3>
<!-- 홈으로 돌아가는 링크를 달아주기 -->
      
<address>
        <strong>Name</strong><br>
        Ahyun <br>
        <abbr title="Phone">Phone Number : </abbr> 010-2872-1882
        <br>
        <strong>Email address</strong><br>
        <a href="mailto:#">dldkgus98@likelion.org</a>
</address>
<br>
<h4><a href="{%url 'home'%}">home으로 돌아가기</a></h4>
</body>
</html>